In [1]:
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(URL(
        account='to57169',
        user='yang',
        password='yang123!',
        warehouse = 'fivetran_warehouse',
        database='fivetran',
        schema='bbbnw'

    )
)

In [2]:
master= pd.read_sql_query('DESC TABLE master', engine)
print(master)

                    name               type    kind null? default primary key  \
0            BUSINESS_ID       NUMBER(38,0)  COLUMN     Y    None           N
1                  TR_ID       NUMBER(38,0)  COLUMN     Y    None           N
2                   TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
3               BUSINESS  VARCHAR(16777216)  COLUMN     Y    None           N
4              ADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None           N
5              ADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None           N
6                   CITY  VARCHAR(16777216)  COLUMN     Y    None           N
7                  STATE  VARCHAR(16777216)  COLUMN     Y    None           N
8                    ZIP       NUMBER(38,0)  COLUMN     Y    None           N
9                  ZIP_4       NUMBER(38,0)  COLUMN     Y    None           N
10         PRIMARY_PHONE  VARCHAR(16777216)  COLUMN     Y    None           N
11              INQ_3_YR       NUMBER(38,0)  COLUMN     Y    None           N
12                RATING  VARCHAR(16777216)  COLUMN     Y    None           N
13           FILE_OPENED    TIMESTAMP_TZ(9)  COLUMN     Y    None           N
14           ACCREDITED_       NUMBER(38,0)  COLUMN     Y    None           N
15  ACCREDITATION_STATUS  VARCHAR(16777216)  COLUMN     Y    None           N
16                   TOB  VARCHAR(16777216)  COLUMN     Y    None           N
17            CREATED_BY  VARCHAR(16777216)  COLUMN     Y    None           N

   unique key check expression comment
0           N  None       None    None
1           N  None       None    None
2           N  None       None    None
3           N  None       None    None
4           N  None       None    None
5           N  None       None    None
6           N  None       None    None
7           N  None       None    None
8           N  None       None    None
9           N  None       None    None
10          N  None       None    None
11          N  None       None    None
12          N  None       None    None
13          N  None       None    None
14          N  None       None    None
15          N  None       None    None
16          N  None       None    None
17          N  None       None    None

In [3]:
businesslicense = pd.read_sql_query('DESC TABLE businesslicense', engine)
print(businesslicense)

                           name               type    kind null? default  \
0                 LICENSENUMBER       NUMBER(38,0)  COLUMN     Y    None
1                  BUSINESSNAME  VARCHAR(16777216)  COLUMN     Y    None
2                        STATUS  VARCHAR(16777216)  COLUMN     Y    None
3                  BUSINESSTYPE  VARCHAR(16777216)  COLUMN     Y    None
4                OWNERFIRSTNAME  VARCHAR(16777216)  COLUMN     Y    None
5       OWNERLASTORBUSINESSNAME  VARCHAR(16777216)  COLUMN     Y    None
6                     ISSUEDATE  VARCHAR(16777216)  COLUMN     Y    None
7                     RENEWDATE               DATE  COLUMN     Y    None
8                    EXPIREDATE               DATE  COLUMN     Y    None
9     PRIMARYLINEOFBUSINESSTEXT  VARCHAR(16777216)  COLUMN     Y    None
10             PRIMARYNAICSTEXT  VARCHAR(16777216)  COLUMN     Y    None
11  SECONDARYLINEOFBUSINESSTEXT  VARCHAR(16777216)  COLUMN     Y    None
12           SECONDARYNAICSTEXT  VARCHAR(16777216)  COLUMN     Y    None
13             MAILINGADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None
14             MAILINGADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None
15                  MAILINGCITY  VARCHAR(16777216)  COLUMN     Y    None
16             MAILINGSTATECODE  VARCHAR(16777216)  COLUMN     Y    None
17                   MAILINGZIP  VARCHAR(16777216)  COLUMN     Y    None
18      MAILINGFOREIGNCITYSTATE  VARCHAR(16777216)  COLUMN     Y    None
19           MAILINGCOUNTRYNAME  VARCHAR(16777216)  COLUMN     Y    None
20            PHYSICALADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None
21            PHYSICALADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None
22                 PHYSICALCITY  VARCHAR(16777216)  COLUMN     Y    None
23            PHYSICALSTATECODE  VARCHAR(16777216)  COLUMN     Y    None
24                  PHYSICALZIP  VARCHAR(16777216)  COLUMN     Y    None
25     PHYSICALFOREIGNCITYSTATE  VARCHAR(16777216)  COLUMN     Y    None
26          PHYSICALCOUNTRYNAME  VARCHAR(16777216)  COLUMN     Y    None

   primary key unique key check expression comment
0            N          N  None       None    None
1            N          N  None       None    None
2            N          N  None       None    None
3            N          N  None       None    None
4            N          N  None       None    None
5            N          N  None       None    None
6            N          N  None       None    None
7            N          N  None       None    None
8            N          N  None       None    None
9            N          N  None       None    None
10           N          N  None       None    None
11           N          N  None       None    None
12           N          N  None       None    None
13           N          N  None       None    None
14           N          N  None       None    None
15           N          N  None       None    None
16           N          N  None       None    None
17           N          N  None       None    None
18           N          N  None       None    None
19           N          N  None       None    None
20           N          N  None       None    None
21           N          N  None       None    None
22           N          N  None       None    None
23           N          N  None       None    None
24           N          N  None       None    None
25           N          N  None       None    None
26           N          N  None       None    None

In [4]:
professional = pd.read_sql_query('DESC TABLE professionallicense', engine)
print(professional)

             name               type    kind null? default primary key  \
0         PROGRAM  VARCHAR(16777216)  COLUMN     Y    None           N
1       PROF_TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
2      LICENSENUM  VARCHAR(16777216)  COLUMN     Y    None           N
3             DBA  VARCHAR(16777216)  COLUMN     Y    None           N
4          OWNERS  VARCHAR(16777216)  COLUMN     Y    None           N
5          STATUS  VARCHAR(16777216)  COLUMN     Y    None           N
6      DATEISSUED               DATE  COLUMN     Y    None           N
7   DATEEFFECTIVE               DATE  COLUMN     Y    None           N
8     DATEEXPIRED               DATE  COLUMN     Y    None           N
9       ADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None           N
10      ADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None           N
11           CITY  VARCHAR(16777216)  COLUMN     Y    None           N
12          STATE  VARCHAR(16777216)  COLUMN     Y    None           N
13            ZIP       NUMBER(38,0)  COLUMN     Y    None           N

   unique key check expression comment
0           N  None       None    None
1           N  None       None    None
2           N  None       None    None
3           N  None       None    None
4           N  None       None    None
5           N  None       None    None
6           N  None       None    None
7           N  None       None    None
8           N  None       None    None
9           N  None       None    None
10          N  None       None    None
11          N  None       None    None
12          N  None       None    None
13          N  None       None    None

In [5]:
active = pd.read_sql_query('DESC TABLE activeorbusinesses', engine)
print(active)

                    name               type    kind null? default primary key  \
0        REGISTRY_NUMBER       NUMBER(38,0)  COLUMN     Y    None           N
1          BUSINESS_NAME  VARCHAR(16777216)  COLUMN     Y    None           N
2                ADDRESS  VARCHAR(16777216)  COLUMN     Y    None           N
3                   CITY  VARCHAR(16777216)  COLUMN     Y    None           N
4                  STATE  VARCHAR(16777216)  COLUMN     Y    None           N
5                    ZIP       NUMBER(38,0)  COLUMN     Y    None           N
6            ENTITY_TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
7          REGISTRY_DATE  VARCHAR(16777216)  COLUMN     Y    None           N
8   ASSOCIATED_NAME_TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
9             FIRST_NAME  VARCHAR(16777216)  COLUMN     Y    None           N
10           MIDDLE_NAME  VARCHAR(16777216)  COLUMN     Y    None           N
11     ADDRESS_CONTINUED  VARCHAR(16777216)  COLUMN     Y    None           N
12      BUSINESS_DETAILS  VARCHAR(16777216)  COLUMN     Y    None           N

   unique key check expression comment
0           N  None       None    None
1           N  None       None    None
2           N  None       None    None
3           N  None       None    None
4           N  None       None    None
5           N  None       None    None
6           N  None       None    None
7           N  None       None    None
8           N  None       None    None
9           N  None       None    None
10          N  None       None    None
11          N  None       None    None
12          N  None       None    None

In [6]:
#features_to_use = ["BUSINESS","STATE"， "ZIP”]
#Read businessname, state, and zipcode from master and 3rd party dataset
master_bus_st = pd.read_sql_query('SELECT business, state, left(zip, 5) as zip FROM master', engine)
business_bus_st = pd.read_sql_query('SELECT businessname as business, mailingstatecode as state, left(mailingzip, 5) as zip FROM businesslicense', engine)

In [7]:
print(master_bus_st.dtypes)
print(business_bus_st.dtypes)

business    object
state       object
zip         object
dtype: object
business    object
state       object
zip         object
dtype: object

In [8]:
print(master_bus_st)

                                       business state    zip
0                              Wells Fargo Bank    OR  97201
1               Advance Central Services Oregon    OR  97201
2                  Finley Sunset Hills Mortuary    OR  97225
3                               Atiyeh Bros Inc    OR  97224
4                           Jantzen Apparel LLC    OR  97232
5                       Braley & Graham Company    OR  97225
6                                      JCPenney    OR  97223
7                   Wentworth Chevrolet Company    OR  97214
8          Lincoln Memorial Park & Funeral Home    OR  97086
9             Portland General Electric Company    OR  97208
10                                      Safeway    OR  97015
11                          Rodda Paint Company    OR  97203
12                Paul Schatz Furniture Company    OR  97224
13                    Bonded Adjustment Company    WA  99201
14                        K X L AM & K X J M FM    OR  97209
15                          Union Floor Company    OR  97222
16                                  CenturyLink    CO  80202
17                  Russell Chimney Service Inc    OR  97220
18        General Motors Acceptance Corporation    OR  97208
19       Stark's Vacuum Cleaner Sales & Service    OR  97232
20                   Shleifer Furniture Company    OR  97008
21                       United Finance Company    OR  97208
22      George A Morlan Plumbing & Appliance Co    OR  97210
23                 Hagen's Auto Parts & Machine    WA  98371
24                     Clow Roofing & Siding Co    OR  97227
25                               Montag Oil Inc    OR  97202
26                   Arthur Murray Dance Studio    OR  97005
27                        Dick's Mackenzie Ford    OR  97123
28                                       Cambia    OR  97207
29                Household Finance Corporation    OR  97216
...                                         ...   ...    ...
368784                      Atomic Vapor Supply    ID  83709
368785                     Dundee's Barber Shop    MT  59601
368786                                CruiseOne         None
368787                      BA Contracting, LLC         None
368788                      Auto Pros Locksmith         None
368789              River Hawk Construction LLC    OR   None
368790                      Rose City Vapesters    OR  97201
368791                      Meadows Pacific Inc    OR   None
368792                       Dylan Michael Penn    OR  97324
368793                      I-vape Salem Oregon    OR  97306
368794    Clark Brothers General Contractor LLC    WA  98445
368795                   Craftsman Electric Inc    OR   None
368796                             Urban Vapors    OR  97401
368797                       Marks Electric LLC    OR   None
368798                 RIVERSIDE VAPOR PRODUCTS    ID  83338
368799   Bill Watson Construction Services, LLC    OR  97502
368800                Stoneman Construction LLC         None
368801                                CELLULARX    ID  83201
368802                  Mackenzie Myers Russell         None
368803                  NW Cellular Corporation    OR  97266
368804                 American Home Remodeling    WA  98125
368805                 American Home Remodeling    WA  98125
368806    Oregon Valley Sign & Monument Company         None
368807                    Steve Michael Granger         None
368808                               N3CT4R LLC         None
368809                            A41 Group LLC    WA  98033
368810                             Urban Vapors    OR  97401
368811                    Matthew Tyler Ashjian         None
368812                          S & A WHOLESALE         None
368813                                  Paradox    OR  97070

[368814 rows x 3 columns]

In [9]:
print(business_bus_st)

                                                business state    zip
0                                  A & A ROOFING CO, INC    AK  99707
1                          A AND W WHOLESALE COMPANY INC    AK  99707
2                     ELAINE S. BAKER & ASSOCIATES, INC.    AK  99501
3                           DON ABEL BUILDING SUPPLY INC    AK  99801
4                                 ALASKA AIRLINES, INC      WA  98168
5                                 ALASKA FLOR-WALL, INC.    AK  99501
6                                  FAIRBANKS GOLDPANNERS    AK  99707
7                                 ALASKA INDIAN ARTS INC    AK  99827
8                        ALASKA INDUSTRIAL HARDWARE, INC    AK  99501
9                                       ALASKA LANDS INC    AK  99603
10                                       AVIS RENT A CAR    AK  99519
11                          ALASKA SAUSAGE COMPANY, INC.    AK  99509
12              ALASKA VILLAGE ELECTRIC COOPERATIVE, INC    AK  99503
13            COOK INLET HOUSING DEVELOPMENT CORPORATION    AK  99503
14                                   ALASKA LAUNDRY, INC    AK  99801
15                                     ALASKA SAFARI INC    AK  99519
16                                            ALCHEM INC    AK  99502
17                           PERFORMANCE CONTRACTING INC    KS  66219
18                               B AND D SHEET METAL INC    AK  99711
19                                J AND N ENTERPRISE INC    AK  99574
20                               AMERICAN LEGION POST #5    AK  99664
21                               AMERICAN LEGION POST 11    AK  99701
22              MISSIONARY AVIATION REPAIR CENTER (MARC)    AK  99669
23                        ANCHORAGE CHRYSLER CENTER, INC    AK  99501
24                                 COPPER RIVER SERVICES    AK  99573
25                                 COPPER RIVER SERVICES    AK  99573
26               ANCHORAGE SAND AND GRAVEL COMPANY, INC.    AK  99515
27                             VLY APPRAISAL & ANALYSIS     AK  99654
28                             VLY APPRAISAL & ANALYSIS     AK  99654
29                                       RAG ENTERPRISES    AK  99503
...                                                  ...   ...    ...
74494                                      ORIONSTAR LLC    AK  99521
74495                              ITCHUMAGIK CONSULTING    AK  99784
74496                                      SATHIT FILLET    AK  99514
74497                            DK BUILDING SPECIALTIES    AK  99611
74498                                  SHEAR BLISS SALON    AK  99686
74499                                  SHEAR BLISS SALON    AK  99686
74500                           WENDY BAGS AND CREATIONS    AK  99507
74501         COMMERCIAL INSURANCE RISK CONSULTANTS, LLC    AK  99654
74502                            ALASKA COMMUNITY CREDIT    AK  99518
74503                                   T4G DISTRIBUTION    AK  99577
74504                                   T4G DISTRIBUTION    AK  99577
74505                    BONNA LEE ISLAND SHUTTLE "BLIS"    AK  99926
74506                ROGER SMITH PROPERTY MANAGEMENT LLC    AK  99654
74507                                  SALCHA MARINE, LP    AK  99714
74508                 SOUTH CENTRAL SOCCER REFEREES, LLC    AK  99507
74509                            GOLDMAN SACHS & CO. LLC    NY  10282
74510                                    STARR PASS, LLC    AK  99507
74511                                        ISLAND GEMS    AK  99615
74512                                        HVANALYTICS    AK  99508
74513                                FOSS HDR MARINE LLC    WA  98109
74514                                  HARDENBERG RESORT    AK  99653
74515                                       FLORA HEALTH    AK  99515
74516                         N6285A LEASING SERVICE LLC    AK  99654
74517                INSIDE PASSAGE BREWING COMPANY, LLC    AK  99901
74518  WENDY'S THREE LEGGED TABLES AND FURNITURE REST...    AK  99611
74519                       ADVENTURES ON THE FLY ALASKA    CO  80541
74520                                     MAS ENTERPRISE    AK  99588
74521                                    TRANSFER ANSWER    AK  99501
74522                                 YUNNIEROSEBOUTIQUE    AK  99504
74523                                    AK TECH EXPERTS    AK  99515

[74524 rows x 3 columns]

In [26]:
from fuzzywuzzy import fuzz

#To be implemented. We will find how to combine similarity ratio of business name and zip code.
#Currently, we only consider similarity of business name.
def computeSimilarity(business_temp, master_temp):
    for index,row in business_temp.iterrows():
        name_similarity = 0
        zip_similarity = 0
        max_combine = 0
        master_name = "xxx"
        master_zip = 0
        business_name = row['business']
        business_zip = row['zip']

        for index1, row1 in master_temp.iterrows():
            business = row1['business']
            zipcode = row1['zip']
            name_similar = fuzz.ratio(business_name.lower(), business.lower())
            zip_similar = fuzz.ratio(business_zip, zipcode)

            if(zip_similar<40):
                combine_similar = name_similar
            else:
                combine_similar = name_similar * 0.8 + zip_similar * 0.2

            if(combine_similar > max_combine):
                name_similarity = name_similar
                zip_similarity = zip_similar
                max_combine = combine_similar
                master_name = business
                master_zip = zipcode
        business_temp.loc[index, 'name_match_percent'] = name_similarity
        business_temp.loc[index, 'zip_match_percent'] = zip_similarity
        business_temp.loc[index, 'combined_percent'] = max_combine
        business_temp.loc[index, 'master_businessname'] = master_name
        business_temp.loc[index, 'master_zip'] = master_zip

In [27]:
def markDuplicate(business_temp):
    for index, row in business_temp.iterrows():
        if(row['combined_percent']>85):
            business_temp.loc[index, 'duplicate?'] = 1
        else:
            business_temp.loc[index, 'duplicate?'] = 0

In [28]:
business_bus_st['zip_match_percent'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['name_match_percent'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['combined_percent'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['master_businessname'] = pd.Series("", index=business_bus_st.index)
business_bus_st['master_zip'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['duplicat?'] = pd.Series(0, index=business_bus_st.index)  

print (business_bus_st)

                                                business state    zip  \
0                                  A & A ROOFING CO, INC    AK  99707
1                          A AND W WHOLESALE COMPANY INC    AK  99707
2                     ELAINE S. BAKER & ASSOCIATES, INC.    AK  99501
3                           DON ABEL BUILDING SUPPLY INC    AK  99801
4                                 ALASKA AIRLINES, INC      WA  98168
5                                 ALASKA FLOR-WALL, INC.    AK  99501
6                                  FAIRBANKS GOLDPANNERS    AK  99707
7                                 ALASKA INDIAN ARTS INC    AK  99827
8                        ALASKA INDUSTRIAL HARDWARE, INC    AK  99501
9                                       ALASKA LANDS INC    AK  99603
10                                       AVIS RENT A CAR    AK  99519
11                          ALASKA SAUSAGE COMPANY, INC.    AK  99509
12              ALASKA VILLAGE ELECTRIC COOPERATIVE, INC    AK  99503
13            COOK INLET HOUSING DEVELOPMENT CORPORATION    AK  99503
14                                   ALASKA LAUNDRY, INC    AK  99801
15                                     ALASKA SAFARI INC    AK  99519
16                                            ALCHEM INC    AK  99502
17                           PERFORMANCE CONTRACTING INC    KS  66219
18                               B AND D SHEET METAL INC    AK  99711
19                                J AND N ENTERPRISE INC    AK  99574
20                               AMERICAN LEGION POST #5    AK  99664
21                               AMERICAN LEGION POST 11    AK  99701
22              MISSIONARY AVIATION REPAIR CENTER (MARC)    AK  99669
23                        ANCHORAGE CHRYSLER CENTER, INC    AK  99501
24                                 COPPER RIVER SERVICES    AK  99573
25                                 COPPER RIVER SERVICES    AK  99573
26               ANCHORAGE SAND AND GRAVEL COMPANY, INC.    AK  99515
27                             VLY APPRAISAL & ANALYSIS     AK  99654
28                             VLY APPRAISAL & ANALYSIS     AK  99654
29                                       RAG ENTERPRISES    AK  99503
...                                                  ...   ...    ...
74494                                      ORIONSTAR LLC    AK  99521
74495                              ITCHUMAGIK CONSULTING    AK  99784
74496                                      SATHIT FILLET    AK  99514
74497                            DK BUILDING SPECIALTIES    AK  99611
74498                                  SHEAR BLISS SALON    AK  99686
74499                                  SHEAR BLISS SALON    AK  99686
74500                           WENDY BAGS AND CREATIONS    AK  99507
74501         COMMERCIAL INSURANCE RISK CONSULTANTS, LLC    AK  99654
74502                            ALASKA COMMUNITY CREDIT    AK  99518
74503                                   T4G DISTRIBUTION    AK  99577
74504                                   T4G DISTRIBUTION    AK  99577
74505                    BONNA LEE ISLAND SHUTTLE "BLIS"    AK  99926
74506                ROGER SMITH PROPERTY MANAGEMENT LLC    AK  99654
74507                                  SALCHA MARINE, LP    AK  99714
74508                 SOUTH CENTRAL SOCCER REFEREES, LLC    AK  99507
74509                            GOLDMAN SACHS & CO. LLC    NY  10282
74510                                    STARR PASS, LLC    AK  99507
74511                                        ISLAND GEMS    AK  99615
74512                                        HVANALYTICS    AK  99508
74513                                FOSS HDR MARINE LLC    WA  98109
74514                                  HARDENBERG RESORT    AK  99653
74515                                       FLORA HEALTH    AK  99515
74516                         N6285A LEASING SERVICE LLC    AK  99654
74517                INSIDE PASSAGE BREWING COMPANY, LLC    AK  99901
74518  WENDY'S THREE LEGGED TABLES AND FURNITURE REST...    AK  99611
74519                       ADVENTURES ON THE FLY ALASKA    CO  80541
74520                                     MAS ENTERPRISE    AK  99588
74521                                    TRANSFER ANSWER    AK  99501
74522                                 YUNNIEROSEBOUTIQUE    AK  99504
74523                                    AK TECH EXPERTS    AK  99515

       zip_match_percent  name_match_percent  combined_percent  \
0                      0                   0                 0
1                      0                   0                 0
2                      0                   0                 0
3                      0                   0                 0
4                      0                   0                 0
5                      0                   0                 0
6                      0                   0                 0
7                      0                   0                 0
8                      0                   0                 0
9                      0                   0                 0
10                     0                   0                 0
11                     0                   0                 0
12                     0                   0                 0
13                     0                   0                 0
14                     0                   0                 0
15                     0                   0                 0
16                     0                   0                 0
17                     0                   0                 0
18                     0                   0                 0
19                     0                   0                 0
20                     0                   0                 0
21                     0                   0                 0
22                     0                   0                 0
23                     0                   0                 0
24                     0                   0                 0
25                     0                   0                 0
26                     0                   0                 0
27                     0                   0                 0
28                     0                   0                 0
29                     0                   0                 0
...                  ...                 ...               ...
74494                  0                   0                 0
74495                  0                   0                 0
74496                  0                   0                 0
74497                  0                   0                 0
74498                  0                   0                 0
74499                  0                   0                 0
74500                  0                   0                 0
74501                  0                   0                 0
74502                  0                   0                 0
74503                  0                   0                 0
74504                  0                   0                 0
74505                  0                   0                 0
74506                  0                   0                 0
74507                  0                   0                 0
74508                  0                   0                 0
74509                  0                   0                 0
74510                  0                   0                 0
74511                  0                   0                 0
74512                  0                   0                 0
74513                  0                   0                 0
74514                  0                   0                 0
74515                  0                   0                 0
74516                  0                   0                 0
74517                  0                   0                 0
74518                  0                   0                 0
74519                  0                   0                 0
74520                  0                   0                 0
74521                  0                   0                 0
74522                  0                   0                 0
74523                  0                   0                 0

      master_businessname  master_zip  duplicat?
0                                   0          0
1                                   0          0
2                                   0          0
3                                   0          0
4                                   0          0
5                                   0          0
6                                   0          0
7                                   0          0
8                                   0          0
9                                   0          0
10                                  0          0
11                                  0          0
12                                  0          0
13                                  0          0
14                                  0          0
15                                  0          0
16                                  0          0
17                                  0          0
18                                  0          0
19                                  0          0
20                                  0          0
21                                  0          0
22                                  0          0
23                                  0          0
24                                  0          0
25                                  0          0
26                                  0          0
27                                  0          0
28                                  0          0
29                                  0          0
...                   ...         ...        ...
74494                               0          0
74495                               0          0
74496                               0          0
74497                               0          0
74498                               0          0
74499                               0          0
74500                               0          0
74501                               0          0
74502                               0          0
74503                               0          0
74504                               0          0
74505                               0          0
74506                               0          0
74507                               0          0
74508                               0          0
74509                               0          0
74510                               0          0
74511                               0          0
74512                               0          0
74513                               0          0
74514                               0          0
74515                               0          0
74516                               0          0
74517                               0          0
74518                               0          0
74519                               0          0
74520                               0          0
74521                               0          0
74522                               0          0
74523                               0          0

[74524 rows x 9 columns]

In [29]:
#Separate dataframe by state to improve the performance.
#We will write a loop here to process for all states 

list_of_states = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
                 "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
                 "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY",""] 

business_temp_aggregate = pd.DataFrame(data=None, columns=business_bus_st.columns,index=[0])

In [30]:

print (business_temp_aggregate)

  business state  zip zip_match_percent name_match_percent combined_percent  \
0      NaN   NaN  NaN               NaN                NaN              NaN

  master_businessname master_zip duplicat?
0                 NaN        NaN       NaN

In [ ]:
#for state in list_of_states: 


list_of_states = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
                 "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
                 "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY",""] 

for state in list_of_states:
    master_temp = master_bus_st[(master_bus_st.state==state)]
    business_temp = business_bus_st[(business_bus_st.state==state)] 
    computeSimilarity(business_temp, master_temp)
    markDuplicate(business_temp) 
    business_temp_aggregate = business_temp_aggregate.append(business_temp)

c:\program files (x86)\python36-32\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
c:\program files (x86)\python36-32\lib\site-packages\pandas\core\indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [ ]:
print (business_temp_aggregate)

In [28]:
#business_co[business_co['distance'] < 10].to_csv("compare.csv")

#We have a similarity percent of business name.
def exportcsv(business_temp):
    business_temp.to_csv("percent.csv")

In [24]:
computeSimilarity(business_co, master_co)

c:\users\yang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [28]:
markDuplicate(business_co)
exportcsv(business_co)

c:\users\yang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\yang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s