In [2]:
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(URL(
        account='to57169',
        user='yang',
        password='yang123!',
        warehouse = 'fivetran_warehouse',
        database='fivetran',
        schema='bbbnw'

    )
)

In [3]:
master= pd.read_sql_query('DESC TABLE master', engine)
print(master)

                    name               type    kind null? default primary key  \
0            BUSINESS_ID       NUMBER(38,0)  COLUMN     Y    None           N
1                  TR_ID       NUMBER(38,0)  COLUMN     Y    None           N
2                   TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
3               BUSINESS  VARCHAR(16777216)  COLUMN     Y    None           N
4              ADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None           N
5              ADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None           N
6                   CITY  VARCHAR(16777216)  COLUMN     Y    None           N
7                  STATE  VARCHAR(16777216)  COLUMN     Y    None           N
8                    ZIP       NUMBER(38,0)  COLUMN     Y    None           N
9                  ZIP_4       NUMBER(38,0)  COLUMN     Y    None           N
10         PRIMARY_PHONE  VARCHAR(16777216)  COLUMN     Y    None           N
11              INQ_3_YR       NUMBER(38,0)  COLUMN     Y    None           N
12                RATING  VARCHAR(16777216)  COLUMN     Y    None           N
13           FILE_OPENED    TIMESTAMP_TZ(9)  COLUMN     Y    None           N
14           ACCREDITED_       NUMBER(38,0)  COLUMN     Y    None           N
15  ACCREDITATION_STATUS  VARCHAR(16777216)  COLUMN     Y    None           N
16                   TOB  VARCHAR(16777216)  COLUMN     Y    None           N
17            CREATED_BY  VARCHAR(16777216)  COLUMN     Y    None           N

   unique key check expression comment
0           N  None       None    None
1           N  None       None    None
2           N  None       None    None
3           N  None       None    None
4           N  None       None    None
5           N  None       None    None
6           N  None       None    None
7           N  None       None    None
8           N  None       None    None
9           N  None       None    None
10          N  None       None    None
11          N  None       None    None
12          N  None       None    None
13          N  None       None    None
14          N  None       None    None
15          N  None       None    None
16          N  None       None    None
17          N  None       None    None

In [4]:
businesslicense = pd.read_sql_query('DESC TABLE businesslicense', engine)
print(businesslicense)

                           name               type    kind null? default  \
0                 LICENSENUMBER       NUMBER(38,0)  COLUMN     Y    None
1                  BUSINESSNAME  VARCHAR(16777216)  COLUMN     Y    None
2                        STATUS  VARCHAR(16777216)  COLUMN     Y    None
3                  BUSINESSTYPE  VARCHAR(16777216)  COLUMN     Y    None
4                OWNERFIRSTNAME  VARCHAR(16777216)  COLUMN     Y    None
5       OWNERLASTORBUSINESSNAME  VARCHAR(16777216)  COLUMN     Y    None
6                     ISSUEDATE  VARCHAR(16777216)  COLUMN     Y    None
7                     RENEWDATE               DATE  COLUMN     Y    None
8                    EXPIREDATE               DATE  COLUMN     Y    None
9     PRIMARYLINEOFBUSINESSTEXT  VARCHAR(16777216)  COLUMN     Y    None
10             PRIMARYNAICSTEXT  VARCHAR(16777216)  COLUMN     Y    None
11  SECONDARYLINEOFBUSINESSTEXT  VARCHAR(16777216)  COLUMN     Y    None
12           SECONDARYNAICSTEXT  VARCHAR(16777216)  COLUMN     Y    None
13             MAILINGADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None
14             MAILINGADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None
15                  MAILINGCITY  VARCHAR(16777216)  COLUMN     Y    None
16             MAILINGSTATECODE  VARCHAR(16777216)  COLUMN     Y    None
17                   MAILINGZIP  VARCHAR(16777216)  COLUMN     Y    None
18      MAILINGFOREIGNCITYSTATE  VARCHAR(16777216)  COLUMN     Y    None
19           MAILINGCOUNTRYNAME  VARCHAR(16777216)  COLUMN     Y    None
20            PHYSICALADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None
21            PHYSICALADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None
22                 PHYSICALCITY  VARCHAR(16777216)  COLUMN     Y    None
23            PHYSICALSTATECODE  VARCHAR(16777216)  COLUMN     Y    None
24                  PHYSICALZIP  VARCHAR(16777216)  COLUMN     Y    None
25     PHYSICALFOREIGNCITYSTATE  VARCHAR(16777216)  COLUMN     Y    None
26          PHYSICALCOUNTRYNAME  VARCHAR(16777216)  COLUMN     Y    None

   primary key unique key check expression comment
0            N          N  None       None    None
1            N          N  None       None    None
2            N          N  None       None    None
3            N          N  None       None    None
4            N          N  None       None    None
5            N          N  None       None    None
6            N          N  None       None    None
7            N          N  None       None    None
8            N          N  None       None    None
9            N          N  None       None    None
10           N          N  None       None    None
11           N          N  None       None    None
12           N          N  None       None    None
13           N          N  None       None    None
14           N          N  None       None    None
15           N          N  None       None    None
16           N          N  None       None    None
17           N          N  None       None    None
18           N          N  None       None    None
19           N          N  None       None    None
20           N          N  None       None    None
21           N          N  None       None    None
22           N          N  None       None    None
23           N          N  None       None    None
24           N          N  None       None    None
25           N          N  None       None    None
26           N          N  None       None    None

In [5]:
professional = pd.read_sql_query('DESC TABLE professionallicense', engine)
print(professional)

             name               type    kind null? default primary key  \
0         PROGRAM  VARCHAR(16777216)  COLUMN     Y    None           N
1       PROF_TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
2      LICENSENUM  VARCHAR(16777216)  COLUMN     Y    None           N
3             DBA  VARCHAR(16777216)  COLUMN     Y    None           N
4          OWNERS  VARCHAR(16777216)  COLUMN     Y    None           N
5          STATUS  VARCHAR(16777216)  COLUMN     Y    None           N
6      DATEISSUED               DATE  COLUMN     Y    None           N
7   DATEEFFECTIVE               DATE  COLUMN     Y    None           N
8     DATEEXPIRED               DATE  COLUMN     Y    None           N
9       ADDRESS_1  VARCHAR(16777216)  COLUMN     Y    None           N
10      ADDRESS_2  VARCHAR(16777216)  COLUMN     Y    None           N
11           CITY  VARCHAR(16777216)  COLUMN     Y    None           N
12          STATE  VARCHAR(16777216)  COLUMN     Y    None           N
13            ZIP       NUMBER(38,0)  COLUMN     Y    None           N

   unique key check expression comment
0           N  None       None    None
1           N  None       None    None
2           N  None       None    None
3           N  None       None    None
4           N  None       None    None
5           N  None       None    None
6           N  None       None    None
7           N  None       None    None
8           N  None       None    None
9           N  None       None    None
10          N  None       None    None
11          N  None       None    None
12          N  None       None    None
13          N  None       None    None

In [6]:
active = pd.read_sql_query('DESC TABLE activeorbusinesses', engine)
print(active)

                    name               type    kind null? default primary key  \
0        REGISTRY_NUMBER       NUMBER(38,0)  COLUMN     Y    None           N
1          BUSINESS_NAME  VARCHAR(16777216)  COLUMN     Y    None           N
2                ADDRESS  VARCHAR(16777216)  COLUMN     Y    None           N
3                   CITY  VARCHAR(16777216)  COLUMN     Y    None           N
4                  STATE  VARCHAR(16777216)  COLUMN     Y    None           N
5                    ZIP       NUMBER(38,0)  COLUMN     Y    None           N
6            ENTITY_TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
7          REGISTRY_DATE  VARCHAR(16777216)  COLUMN     Y    None           N
8   ASSOCIATED_NAME_TYPE  VARCHAR(16777216)  COLUMN     Y    None           N
9             FIRST_NAME  VARCHAR(16777216)  COLUMN     Y    None           N
10           MIDDLE_NAME  VARCHAR(16777216)  COLUMN     Y    None           N
11     ADDRESS_CONTINUED  VARCHAR(16777216)  COLUMN     Y    None           N
12      BUSINESS_DETAILS  VARCHAR(16777216)  COLUMN     Y    None           N

   unique key check expression comment
0           N  None       None    None
1           N  None       None    None
2           N  None       None    None
3           N  None       None    None
4           N  None       None    None
5           N  None       None    None
6           N  None       None    None
7           N  None       None    None
8           N  None       None    None
9           N  None       None    None
10          N  None       None    None
11          N  None       None    None
12          N  None       None    None

In [8]:
#features_to_use = ["BUSINESS","STATE"， "ZIP”]
#Read businessname, state, and zipcode from master and 3rd party dataset, excluding all empty ZIP codes. 
master_bus_st = pd.read_sql_query('SELECT business, state, left(zip, 5) as zip FROM master WHERE zip IS NOT NULL', engine)
business_bus_st = pd.read_sql_query('SELECT businessname as business, mailingstatecode as state, left(mailingzip, 5) as zip FROM businesslicense WHERE mailingzip IS NOT NULL', engine)
#right_join_master_business = pd.read_sql_query('SELECT master.business, master.state, master.zip FROM master RIGHT JOIN businesslicense ON master.business = businesslicense.businessname WHERE master.business IS NULL AND businesslicense.mailingzip IS NOT NULL', engine)

In [9]:
#Taking the inner joins to exclude from computation
inner_join_master_active = pd.read_sql_query('SELECT master.business, master.state, master.zip FROM master INNER JOIN activeorbusinesses ON master.business = activeorbusinesses.business_name', engine)
inner_join_master_professional = pd.read_sql_query('SELECT master.business, master.state, master.zip FROM master INNER JOIN professionallicense ON master.business = professionallicense.owners', engine) 
inner_join_master_business = pd.read_sql_query('SELECT master.business, master.state, master.zip FROM master INNER JOIN businesslicense ON master.business = businesslicense.businessname', engine)

In [10]:
print(inner_join_master_business)
print(inner_join_master_professional)
print(inner_join_master_active)
print(right_join_master_business)

                            business state      zip
0                   A&J GIFTS & MORE    AK  99648.0
1               SWEET FACE ESTHETICS    AK  99504.0
2                     SELECT RENTALS    AK  99504.0
3            STOP N' PLAY CHILD CARE    AK  99504.0
4         O.C.D. CLEANING & SERVICES    AK  99502.0
5              ARTHUN PAINTING, INC.    AK  99518.0
6                   TECHTONIC CYCLES            NaN
7                  HANDYMAN SERVICES    WA  98934.0
8                      907 ROCK AUTO    AK  99521.0
9                      907 ROCK AUTO    AK  99521.0
10                     907 ROCK AUTO    AK  99521.0
11                     907 ROCK AUTO    AK  99521.0
12                              AJ'S    WA  98023.0
13                              AJ'S    WA  98023.0
14                              AJ'S    WA  98023.0
15                       HOUSE CALLS            NaN
16                       A CUT ABOVE            NaN
17     ALASKAS TRAIL KING ADVENTURES            NaN
18                URBAN CONSTRUCTION    WA  99207.0
19            BARKS N' REC ANCHORAGE    AK  99504.0
20               QUICK LOCK HOLSTERS    AK  99654.0
21              ZIMMER BIOMET ALASKA            NaN
22                RIDGE CONSTRUCTION    AK  99701.0
23                   MAID MARION INC            NaN
24            MECHELLE'S HAIR DESIGN            NaN
25             KEYSTONE CONSTRUCTION    WA  98247.0
26     HEAVEN'S BEST CARPET CLEANING            NaN
27   HOME CARE ASSISTANCE ALASKA LLC            NaN
28                A ROOM WITH A VIEW    WA  98103.0
29            BRIAN'S RELIABLE AUTOS    AK  99654.0
..                               ...   ...      ...
210                 RAINBOW PAINTING            NaN
211             LS CONSTRUCTION, LLC    WA  98203.0
212               DAVIS CONSTRUCTION    WA  99006.0
213               DAVIS CONSTRUCTION    WA  99006.0
214                        APEX INC.    OR  97229.0
215             PACIFIC CABINETS INC            NaN
216               EVANS CONSTRUCTION    WA  98547.0
217               EVANS CONSTRUCTION    WA  98547.0
218   ARBOR CAPITAL MANAGEMENT, INC.    AK  99503.0
219           29TH STREET AUTO SALES    AK  99508.0
220                        LUCID LLC            NaN
221               CREATIVE RESOURCES    WA  98367.0
222               CREATIVE RESOURCES    wa  98366.0
223                              AAG    WA      NaN
224              LIBERTY TAX SERVICE            NaN
225              LIBERTY TAX SERVICE            NaN
226              LIBERTY TAX SERVICE            NaN
227                        C C I INC            NaN
228         12TH STREET TAXI & TOURS            NaN
229              1ST CHOICE CHARTERS            NaN
230                1ST CITY BUILDERS            NaN
231               2 CHICKS STEEL ART            NaN
232       MOUNTAIN HIGH SERVICES LLC    WA  98856.0
233              KINCAID INVESTMENTS            NaN
234              KINCAID INVESTMENTS            NaN
235               ELEMENT AUTOMOTIVE    AK  99501.0
236        TOMAHAWK CONSTRUCTION LLC    WA  99004.0
237      HATTENBURG DILLEY & LINNELL            NaN
238              HAVE MOP WILL CLEAN            NaN
239               ISLAND REPAIR, LLC    AK  99921.0

[240 rows x 3 columns]
                                                 business state      zip
0                                 Nationstar Mortgage LLC    TX  75261.0
1                                 Nationstar Mortgage LLC    TX  75067.0
2                                          Art Church Inc    WA  98119.0
3                                   The Covollo Group LLC    WA  98072.0
4                               Pioneer Fire & Safety LLC    WA  98507.0
5                              Stew's Heating Service LLC    AK  99709.0
6                                   Epic Construction LLC    WA  98005.0
7                                        Melissa Williams    WA  99201.0
8                                        Melissa Williams    WA  99201.0
9                  Kerr McVey Sheaffer & Associates, P.C.    AK  99503.0
10                                       Team Cutters Inc    AK  99709.0
11                                       Vigor Alaska LLC    AK  99901.0
12                                 Electrical Systems Inc    WA  98146.0
13                            Dream Home Construction LLC    OR  97504.0
14                        Top of the World Mechanical LLC    AK  99645.0
15                              Granite City Alaska, Inc.    AK  99577.0
16                                               KPMG LLP    WA  98104.0
17                                Strong Construction LLC    AK  99556.0
18                                Eyre's Construction LLC    AK  99801.0
19                              Cornerstone Builders, LLC    AK  99709.0
20                                                PCG LLC    AK  99577.0
21                               AAC Concrete Cutting LLC    AK  99518.0
22                                      Reed Electric LLC    AK  99615.0
23                                 Valley Landscaping LLC    AK  99708.0
24                                  Statewide Drywall Inc    WA  98082.0
25                                           Holly Taylor    WA  98070.0
26                                 Anchorage Striping LLC    AK  99523.0
27                                        Total Image LLC    AK  99701.0
28                                         J Electric LLC    AK  99507.0
29      Meadow Lakes Supply Company Plumbing & Heating...    AK  99654.0
...                                                   ...   ...      ...
532584                                                       ID  83714.0
532585                                                       ID  83714.0
532586                                                       ID  83714.0
532587                                                       ID  83714.0
532588                                                       ID  83714.0
532589                                                       ID  83714.0
532590                                                       ID  83714.0
532591                                                       ID  83714.0
532592                                                       ID  83714.0
532593                                                       ID  83714.0
532594                                                       ID  83714.0
532595                                                       ID  83714.0
532596                                                       ID  83714.0
532597                                                       ID  83714.0
532598                                                       ID  83714.0
532599                                                       ID  83714.0
532600                                                       ID  83714.0
532601                                                       ID  83714.0
532602                                                       ID  83714.0
532603                                                       ID  83714.0
532604                                                       ID  83714.0
532605                                                       ID  83714.0
532606                                                       ID  83714.0
532607                                                       ID  83714.0
532608                                                       ID  83714.0
532609                                                       ID  83714.0
532610                                                       ID  83714.0
532611                                                       ID  83714.0
532612                                                       ID  83714.0
532613                                                       ID  83714.0

[532614 rows x 3 columns]
                                   business state      zip
0                                      FMTC    ID  83619.0
1                                     ROOTX    OR  97303.0
2                                     SMART    OR  97201.0
3                                       CCS    WA  98466.0
4                                       ASI    WA  98138.0
5                                       CPS    WA  99301.0
6                                   A S P M    OR  97004.0
7                                   G4S USA    WA  98188.0
8                                      ADCO    WA  98801.0
9                                       HTC    WA  98104.0
10                                      CTC    OR  97370.0
11                                      CTC    OR  97370.0
12                                      HIP    OR  97210.0
13                                      SSI    OR  97070.0
14                                      TS4    OR  97045.0
15                                      CPS    OR  97223.0
16                                      STG    ID  83815.0
17                                      QAP    AK  99518.0
18                                      FCR    OR  97408.0
19                                  HMK USA    OR  97031.0
20                                    NEDCO    OR  97477.0
21                                      JCD    OR  97004.0
22                                      GRI    OR  97008.0
23                                     KTWS    OR  97708.0
24                                      MBI    OR  97221.0
25                                     MYMD    OR  97702.0
26                                      IPS    OR  97031.0
27                                   G.R.M.    OR  97222.0
28                                      NCS    WA  98335.0
29                                   180ONE    OR  97035.0
..                                      ...   ...      ...
618               SIUSLAW MOBILE RV SERVICE    OR  97453.0
619                            GRASSMASTERS            NaN
620                KIRK MATSUBU LANDSCAPING            NaN
621           EUGENE LANDSCAPE & IRRIGATION            NaN
622  PATRIOT BUILDING & GROUNDS MAINTENANCE    OR  97838.0
623                       1 HR CARDIO CRUSH    OR  97844.0
624            DAN MCMANUS CARPET INSTALLER    OR  97756.0
625                 THE OUTBACK UPHOLSTERER    OR  97702.0
626                         3 SEVENS TATTOO    OR  97526.0
627                         ELITE LAWN CARE    OR  97527.0
628           HANDS OF FATE MASSAGE THERAPY    OR  97527.0
629                    FERRITO MARTIAL ARTS    OR  97232.0
630          WHITE WOLF FAMILY MARTIAL ARTS    OR  97378.0
631                     ADULT CARE BY MARIE    OR  97401.0
632                         A & B AUTO CARE    OR  97233.0
633               TOPCOAT PAINTING & DESIGN    OR  97520.0
634                     INTEGRITY LAWN CARE    OR  97378.0
635                     CANNAGUARD SECURITY    OR  97008.0
636                       C & J ENTERPRISES    OR  97217.0
637            GRANTS PASS TREATMENT CENTER    OR  97526.0
638                             BRASS TACKS            NaN
639                             BRASS TACKS            NaN
640           NOBLE SENIOR LIVING REFERRALS    OR  97401.0
641          SPECIALTY MAINTENANCE SERVICES    OR  97224.0
642                              RITE TRACK    OR  97532.0
643                     DEMOTT CONSTRUCTION            NaN
644           WALLACE CONCRETE CONSTRUCTION    OR  97756.0
645               THOMAS KAROL CONSTRUCTION    OR  97756.0
646                      CITYSCAPE PAINTING    OR  97219.0
647          INTERIORS AT THE LIVERY STABLE            NaN

[648 rows x 3 columns]
      business state   zip
0         None  None  None
1         None  None  None
2         None  None  None
3         None  None  None
4         None  None  None
5         None  None  None
6         None  None  None
7         None  None  None
8         None  None  None
9         None  None  None
10        None  None  None
11        None  None  None
12        None  None  None
13        None  None  None
14        None  None  None
15        None  None  None
16        None  None  None
17        None  None  None
18        None  None  None
19        None  None  None
20        None  None  None
21        None  None  None
22        None  None  None
23        None  None  None
24        None  None  None
25        None  None  None
26        None  None  None
27        None  None  None
28        None  None  None
29        None  None  None
...        ...   ...   ...
74262     None  None  None
74263     None  None  None
74264     None  None  None
74265     None  None  None
74266     None  None  None
74267     None  None  None
74268     None  None  None
74269     None  None  None
74270     None  None  None
74271     None  None  None
74272     None  None  None
74273     None  None  None
74274     None  None  None
74275     None  None  None
74276     None  None  None
74277     None  None  None
74278     None  None  None
74279     None  None  None
74280     None  None  None
74281     None  None  None
74282     None  None  None
74283     None  None  None
74284     None  None  None
74285     None  None  None
74286     None  None  None
74287     None  None  None
74288     None  None  None
74289     None  None  None
74290     None  None  None
74291     None  None  None

[74292 rows x 3 columns]

In [24]:
professional_bus_st = pd.read_sql_query('SELECT owners, state, left(zip, 5) as zip FROM professionallicense WHERE zip IS NOT NULL', engine)
print(professional_bus_st)

                                               owners state    zip
0                   Michael Baker International, Inc.    AK  99503
1                             R & M CONSULTANTS, INC.    AK  99507
2                   AECOM Energy & Construction, Inc.    ID  83642
3                                      AMEC E&I, INC.    GA  30004
4                                       BECHTEL, INC.    CA  94119
5                              SHANNON & WILSON, INC.    NY  98103
6                    Parsons Government Services Inc.    CA  91124
7                             JENSEN YORBA LOTT, INC.    AK  99801
8              TRAVIS, FITZMAURICE & ASSOCIATES, INC.    WA  98109
9                            SIMPSON ASSOCIATES, INC.    AK  99524
10                                          GDM, INC.    AK  99503
11                              POOL ENGINEERING INC.    AK  99901
12                                         USKH, INC.    AK  99503
13                             LIVINGSTONE SLONE INC.    AK  99503
14                                            CTA INC    MT  59101
15                                 MWH AMERICAS, INC.    NY  10952
16                           KALEN & ASSOCIATES, INC.    AK  99709
17                     MCCOOL - CARLSON - GREEN, INC.    AK  99501
18     BETTISWORTH NORTH ARCHITECTS AND PLANNERS INC.    AK  99707
19                             KUMIN ASSOCIATES, INC.    AK  99501
20                         PARSONS BRINCKERHOFF, INC.    NY  10119
21                            COFFMAN ENGINEERS, INC.    WA  98101
22                                PND ENGINEERS, INC.    AK  99503
23                                   BERGERABAM, INC.    WA  98003
24                                    URS CORPORATION    CA  90071
25                                   TETRA TECH, INC.    CA  91107
26                                RBA ENGINEERS, INC.    AK  99503
27                                BECHTEL CIVIL, INC.    CA  94105
28                         ENVIROMENTAL CONCERN, INC.    WA  99210
29                             GOLDER ASSOCIATES INC.    GA  30341
...                                               ...   ...    ...
73211                                    Jack  Varman    AK  99623
73212                                     Amy Hatcher    AK  99654
73213                                 NANCY DAVENPORT    AK  99701
73214                                     Tara  Ogden    WY  82501
73215                                       Gary Molk    AK  99701
73216                               Christopher Ewing    TX  78133
73217                                     Amber  Rand    AK  99577
73218                                   Blaise  Mayer    WY  82414
73219                                JENNIFER FAVILLA    WY  82001
73220                                  Sarah Dierking    WY  82601
73221                                   Megan Christy    AK  99504
73222                                  DEMETRIA MEYER    WY  82520
73223                                  JESSICA OBLOCK    UT  84404
73224                                   CHRISTY SMITH    AK  99705
73225                                    Alysa Wismer    WY  82901
73226                                    Jody Stewart    AZ  85297
73227                                    Wayne Farley    CA  95602
73228                                  Heather Farley    CA  95602
73229                                    Wayne Farley    CA  95602
73230                                Richard Sorenson    WY  82501
73231                                   Angel Babcock    AK  99654
73232                                 Jim  Kirkendall    WY  82604
73233                                      Amy Jensen    WY  82513
73234                                    Lorilee Ward    WY  82082
73235                                 Christine Shirk    WY  83128
73236                                   MELISSA HOPPE    WY  82301
73237                                    Brandy Smith    WY  82604
73238                                     Marta Scott    WY  82501
73239                                   Joshua Weston    UT  84038
73240                                   Sanaz Gurnett    WY  82834

[73241 rows x 3 columns]

In [28]:
print (master_bus_st)
print (business_bus_st)

                                       business state    zip
0                              Wells Fargo Bank    OR  97201
1               Advance Central Services Oregon    OR  97201
2                  Finley Sunset Hills Mortuary    OR  97225
3                               Atiyeh Bros Inc    OR  97224
4                           Jantzen Apparel LLC    OR  97232
5                       Braley & Graham Company    OR  97225
6                                      JCPenney    OR  97223
7                   Wentworth Chevrolet Company    OR  97214
8          Lincoln Memorial Park & Funeral Home    OR  97086
9             Portland General Electric Company    OR  97208
10                                      Safeway    OR  97015
11                          Rodda Paint Company    OR  97203
12                Paul Schatz Furniture Company    OR  97224
13                    Bonded Adjustment Company    WA  99201
14                        K X L AM & K X J M FM    OR  97209
15                          Union Floor Company    OR  97222
16                                  CenturyLink    CO  80202
17                  Russell Chimney Service Inc    OR  97220
18        General Motors Acceptance Corporation    OR  97208
19       Stark's Vacuum Cleaner Sales & Service    OR  97232
20                   Shleifer Furniture Company    OR  97008
21                       United Finance Company    OR  97208
22      George A Morlan Plumbing & Appliance Co    OR  97210
23                 Hagen's Auto Parts & Machine    WA  98371
24                     Clow Roofing & Siding Co    OR  97227
25                               Montag Oil Inc    OR  97202
26                   Arthur Murray Dance Studio    OR  97005
27                        Dick's Mackenzie Ford    OR  97123
28                                       Cambia    OR  97207
29                Household Finance Corporation    OR  97216
...                                         ...   ...    ...
345417                  ROYAL LIFE CENTERS, LLC    WA  99208
345418                ALLAN VETSCH CONSTRUCTION    OR  97229
345419                   SKY DISTRIBUTION, INC.    WA  98203
345420                     LTE Finish Carpentry    WA  98665
345421                         JSB Services LLC    OR  97267
345422      Botany Unlimited Design Systems LLC    WA  99301
345423                       Lovely Nails & Spa    ID  83301
345424                                    A O A    WA  98109
345425                     ELEVEN SHADES STUDIO    ID  83706
345426                        Hillside Cabinets    OR  97501
345427                     INFINITY ENGINEERING    ID  83341
345428                             Zombie Juice    WA  99206
345429                                INFOPOINT    ID  83843
345430                            Cafe De Vapor    ID  83714
345431                      Atomic Vapor Supply    ID  83709
345432                     Dundee's Barber Shop    MT  59601
345433                      Rose City Vapesters    OR  97201
345434                       Dylan Michael Penn    OR  97324
345435                      I-vape Salem Oregon    OR  97306
345436    Clark Brothers General Contractor LLC    WA  98445
345437                             Urban Vapors    OR  97401
345438                 RIVERSIDE VAPOR PRODUCTS    ID  83338
345439   Bill Watson Construction Services, LLC    OR  97502
345440                                CELLULARX    ID  83201
345441                  NW Cellular Corporation    OR  97266
345442                 American Home Remodeling    WA  98125
345443                 American Home Remodeling    WA  98125
345444                            A41 Group LLC    WA  98033
345445                             Urban Vapors    OR  97401
345446                                  Paradox    OR  97070

[345447 rows x 3 columns]
                                                business state    zip
0                                  A & A ROOFING CO, INC    AK  99707
1                          A AND W WHOLESALE COMPANY INC    AK  99707
2                     ELAINE S. BAKER & ASSOCIATES, INC.    AK  99501
3                           DON ABEL BUILDING SUPPLY INC    AK  99801
4                                 ALASKA AIRLINES, INC      WA  98168
5                                 ALASKA FLOR-WALL, INC.    AK  99501
6                                  FAIRBANKS GOLDPANNERS    AK  99707
7                                 ALASKA INDIAN ARTS INC    AK  99827
8                        ALASKA INDUSTRIAL HARDWARE, INC    AK  99501
9                                       ALASKA LANDS INC    AK  99603
10                                       AVIS RENT A CAR    AK  99519
11                          ALASKA SAUSAGE COMPANY, INC.    AK  99509
12              ALASKA VILLAGE ELECTRIC COOPERATIVE, INC    AK  99503
13            COOK INLET HOUSING DEVELOPMENT CORPORATION    AK  99503
14                                   ALASKA LAUNDRY, INC    AK  99801
15                                     ALASKA SAFARI INC    AK  99519
16                                            ALCHEM INC    AK  99502
17                           PERFORMANCE CONTRACTING INC    KS  66219
18                               B AND D SHEET METAL INC    AK  99711
19                                J AND N ENTERPRISE INC    AK  99574
20                               AMERICAN LEGION POST #5    AK  99664
21                               AMERICAN LEGION POST 11    AK  99701
22              MISSIONARY AVIATION REPAIR CENTER (MARC)    AK  99669
23                        ANCHORAGE CHRYSLER CENTER, INC    AK  99501
24                                 COPPER RIVER SERVICES    AK  99573
25                                 COPPER RIVER SERVICES    AK  99573
26               ANCHORAGE SAND AND GRAVEL COMPANY, INC.    AK  99515
27                             VLY APPRAISAL & ANALYSIS     AK  99654
28                             VLY APPRAISAL & ANALYSIS     AK  99654
29                                       RAG ENTERPRISES    AK  99503
...                                                  ...   ...    ...
74494                                      ORIONSTAR LLC    AK  99521
74495                              ITCHUMAGIK CONSULTING    AK  99784
74496                                      SATHIT FILLET    AK  99514
74497                            DK BUILDING SPECIALTIES    AK  99611
74498                                  SHEAR BLISS SALON    AK  99686
74499                                  SHEAR BLISS SALON    AK  99686
74500                           WENDY BAGS AND CREATIONS    AK  99507
74501         COMMERCIAL INSURANCE RISK CONSULTANTS, LLC    AK  99654
74502                            ALASKA COMMUNITY CREDIT    AK  99518
74503                                   T4G DISTRIBUTION    AK  99577
74504                                   T4G DISTRIBUTION    AK  99577
74505                    BONNA LEE ISLAND SHUTTLE "BLIS"    AK  99926
74506                ROGER SMITH PROPERTY MANAGEMENT LLC    AK  99654
74507                                  SALCHA MARINE, LP    AK  99714
74508                 SOUTH CENTRAL SOCCER REFEREES, LLC    AK  99507
74509                            GOLDMAN SACHS & CO. LLC    NY  10282
74510                                    STARR PASS, LLC    AK  99507
74511                                        ISLAND GEMS    AK  99615
74512                                        HVANALYTICS    AK  99508
74513                                FOSS HDR MARINE LLC    WA  98109
74514                                  HARDENBERG RESORT    AK  99653
74515                                       FLORA HEALTH    AK  99515
74516                         N6285A LEASING SERVICE LLC    AK  99654
74517                INSIDE PASSAGE BREWING COMPANY, LLC    AK  99901
74518  WENDY'S THREE LEGGED TABLES AND FURNITURE REST...    AK  99611
74519                       ADVENTURES ON THE FLY ALASKA    CO  80541
74520                                     MAS ENTERPRISE    AK  99588
74521                                    TRANSFER ANSWER    AK  99501
74522                                 YUNNIEROSEBOUTIQUE    AK  99504
74523                                    AK TECH EXPERTS    AK  99515

[74524 rows x 3 columns]

In [29]:
print (right_join_master_business - inner_join_master_business)

      business state  zip
0          NaN   NaN  NaN
1          NaN   NaN  NaN
2          NaN   NaN  NaN
3          NaN   NaN  NaN
4          NaN   NaN  NaN
5          NaN   NaN  NaN
6          NaN   NaN  NaN
7          NaN   NaN  NaN
8          NaN   NaN  NaN
9          NaN   NaN  NaN
10         NaN   NaN  NaN
11         NaN   NaN  NaN
12         NaN   NaN  NaN
13         NaN   NaN  NaN
14         NaN   NaN  NaN
15         NaN   NaN  NaN
16         NaN   NaN  NaN
17         NaN   NaN  NaN
18         NaN   NaN  NaN
19         NaN   NaN  NaN
20         NaN   NaN  NaN
21         NaN   NaN  NaN
22         NaN   NaN  NaN
23         NaN   NaN  NaN
24         NaN   NaN  NaN
25         NaN   NaN  NaN
26         NaN   NaN  NaN
27         NaN   NaN  NaN
28         NaN   NaN  NaN
29         NaN   NaN  NaN
...        ...   ...  ...
74262      NaN   NaN  NaN
74263      NaN   NaN  NaN
74264      NaN   NaN  NaN
74265      NaN   NaN  NaN
74266      NaN   NaN  NaN
74267      NaN   NaN  NaN
74268      NaN   NaN  NaN
74269      NaN   NaN  NaN
74270      NaN   NaN  NaN
74271      NaN   NaN  NaN
74272      NaN   NaN  NaN
74273      NaN   NaN  NaN
74274      NaN   NaN  NaN
74275      NaN   NaN  NaN
74276      NaN   NaN  NaN
74277      NaN   NaN  NaN
74278      NaN   NaN  NaN
74279      NaN   NaN  NaN
74280      NaN   NaN  NaN
74281      NaN   NaN  NaN
74282      NaN   NaN  NaN
74283      NaN   NaN  NaN
74284      NaN   NaN  NaN
74285      NaN   NaN  NaN
74286      NaN   NaN  NaN
74287      NaN   NaN  NaN
74288      NaN   NaN  NaN
74289      NaN   NaN  NaN
74290      NaN   NaN  NaN
74291      NaN   NaN  NaN

[74292 rows x 3 columns]

In [26]:
from fuzzywuzzy import fuzz

#To be implemented. We will find how to combine similarity ratio of business name and zip code.
#Currently, we only consider similarity of business name.
def computeSimilarity(business_temp, master_temp):
    for index,row in business_temp.iterrows():
        name_similarity = 0
        zip_similarity = 0
        max_combine = 0
        master_name = "xxx"
        master_zip = 0
        business_name = row['business']
        business_zip = row['zip']

        for index1, row1 in master_temp.iterrows():
            business = row1['business']
            zipcode = row1['zip']
            name_similar = fuzz.ratio(business_name.lower(), business.lower())
            zip_similar = fuzz.ratio(business_zip, zipcode)

            if(zip_similar<40):
                combine_similar = name_similar
            else:
                combine_similar = name_similar * 0.8 + zip_similar * 0.2

            if(combine_similar > max_combine):
                name_similarity = name_similar
                zip_similarity = zip_similar
                max_combine = combine_similar
                master_name = business
                master_zip = zipcode
        business_temp.loc[index, 'name_match_percent'] = name_similarity
        business_temp.loc[index, 'zip_match_percent'] = zip_similarity
        business_temp.loc[index, 'combined_percent'] = max_combine
        business_temp.loc[index, 'master_businessname'] = master_name
        business_temp.loc[index, 'master_zip'] = master_zip

In [27]:
def markDuplicate(business_temp):
    for index, row in business_temp.iterrows():
        if(row['combined_percent']>85):
            business_temp.loc[index, 'duplicate?'] = 1
        else:
            business_temp.loc[index, 'duplicate?'] = 0

In [28]:
business_bus_st['zip_match_percent'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['name_match_percent'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['combined_percent'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['master_businessname'] = pd.Series("", index=business_bus_st.index)
business_bus_st['master_zip'] = pd.Series(0, index=business_bus_st.index)
business_bus_st['duplicat?'] = pd.Series(0, index=business_bus_st.index)  

print (business_bus_st)

                                                business state    zip  \
0                                  A & A ROOFING CO, INC    AK  99707
1                          A AND W WHOLESALE COMPANY INC    AK  99707
2                     ELAINE S. BAKER & ASSOCIATES, INC.    AK  99501
3                           DON ABEL BUILDING SUPPLY INC    AK  99801
4                                 ALASKA AIRLINES, INC      WA  98168
5                                 ALASKA FLOR-WALL, INC.    AK  99501
6                                  FAIRBANKS GOLDPANNERS    AK  99707
7                                 ALASKA INDIAN ARTS INC    AK  99827
8                        ALASKA INDUSTRIAL HARDWARE, INC    AK  99501
9                                       ALASKA LANDS INC    AK  99603
10                                       AVIS RENT A CAR    AK  99519
11                          ALASKA SAUSAGE COMPANY, INC.    AK  99509
12              ALASKA VILLAGE ELECTRIC COOPERATIVE, INC    AK  99503
13            COOK INLET HOUSING DEVELOPMENT CORPORATION    AK  99503
14                                   ALASKA LAUNDRY, INC    AK  99801
15                                     ALASKA SAFARI INC    AK  99519
16                                            ALCHEM INC    AK  99502
17                           PERFORMANCE CONTRACTING INC    KS  66219
18                               B AND D SHEET METAL INC    AK  99711
19                                J AND N ENTERPRISE INC    AK  99574
20                               AMERICAN LEGION POST #5    AK  99664
21                               AMERICAN LEGION POST 11    AK  99701
22              MISSIONARY AVIATION REPAIR CENTER (MARC)    AK  99669
23                        ANCHORAGE CHRYSLER CENTER, INC    AK  99501
24                                 COPPER RIVER SERVICES    AK  99573
25                                 COPPER RIVER SERVICES    AK  99573
26               ANCHORAGE SAND AND GRAVEL COMPANY, INC.    AK  99515
27                             VLY APPRAISAL & ANALYSIS     AK  99654
28                             VLY APPRAISAL & ANALYSIS     AK  99654
29                                       RAG ENTERPRISES    AK  99503
...                                                  ...   ...    ...
74494                                      ORIONSTAR LLC    AK  99521
74495                              ITCHUMAGIK CONSULTING    AK  99784
74496                                      SATHIT FILLET    AK  99514
74497                            DK BUILDING SPECIALTIES    AK  99611
74498                                  SHEAR BLISS SALON    AK  99686
74499                                  SHEAR BLISS SALON    AK  99686
74500                           WENDY BAGS AND CREATIONS    AK  99507
74501         COMMERCIAL INSURANCE RISK CONSULTANTS, LLC    AK  99654
74502                            ALASKA COMMUNITY CREDIT    AK  99518
74503                                   T4G DISTRIBUTION    AK  99577
74504                                   T4G DISTRIBUTION    AK  99577
74505                    BONNA LEE ISLAND SHUTTLE "BLIS"    AK  99926
74506                ROGER SMITH PROPERTY MANAGEMENT LLC    AK  99654
74507                                  SALCHA MARINE, LP    AK  99714
74508                 SOUTH CENTRAL SOCCER REFEREES, LLC    AK  99507
74509                            GOLDMAN SACHS & CO. LLC    NY  10282
74510                                    STARR PASS, LLC    AK  99507
74511                                        ISLAND GEMS    AK  99615
74512                                        HVANALYTICS    AK  99508
74513                                FOSS HDR MARINE LLC    WA  98109
74514                                  HARDENBERG RESORT    AK  99653
74515                                       FLORA HEALTH    AK  99515
74516                         N6285A LEASING SERVICE LLC    AK  99654
74517                INSIDE PASSAGE BREWING COMPANY, LLC    AK  99901
74518  WENDY'S THREE LEGGED TABLES AND FURNITURE REST...    AK  99611
74519                       ADVENTURES ON THE FLY ALASKA    CO  80541
74520                                     MAS ENTERPRISE    AK  99588
74521                                    TRANSFER ANSWER    AK  99501
74522                                 YUNNIEROSEBOUTIQUE    AK  99504
74523                                    AK TECH EXPERTS    AK  99515

       zip_match_percent  name_match_percent  combined_percent  \
0                      0                   0                 0
1                      0                   0                 0
2                      0                   0                 0
3                      0                   0                 0
4                      0                   0                 0
5                      0                   0                 0
6                      0                   0                 0
7                      0                   0                 0
8                      0                   0                 0
9                      0                   0                 0
10                     0                   0                 0
11                     0                   0                 0
12                     0                   0                 0
13                     0                   0                 0
14                     0                   0                 0
15                     0                   0                 0
16                     0                   0                 0
17                     0                   0                 0
18                     0                   0                 0
19                     0                   0                 0
20                     0                   0                 0
21                     0                   0                 0
22                     0                   0                 0
23                     0                   0                 0
24                     0                   0                 0
25                     0                   0                 0
26                     0                   0                 0
27                     0                   0                 0
28                     0                   0                 0
29                     0                   0                 0
...                  ...                 ...               ...
74494                  0                   0                 0
74495                  0                   0                 0
74496                  0                   0                 0
74497                  0                   0                 0
74498                  0                   0                 0
74499                  0                   0                 0
74500                  0                   0                 0
74501                  0                   0                 0
74502                  0                   0                 0
74503                  0                   0                 0
74504                  0                   0                 0
74505                  0                   0                 0
74506                  0                   0                 0
74507                  0                   0                 0
74508                  0                   0                 0
74509                  0                   0                 0
74510                  0                   0                 0
74511                  0                   0                 0
74512                  0                   0                 0
74513                  0                   0                 0
74514                  0                   0                 0
74515                  0                   0                 0
74516                  0                   0                 0
74517                  0                   0                 0
74518                  0                   0                 0
74519                  0                   0                 0
74520                  0                   0                 0
74521                  0                   0                 0
74522                  0                   0                 0
74523                  0                   0                 0

      master_businessname  master_zip  duplicat?
0                                   0          0
1                                   0          0
2                                   0          0
3                                   0          0
4                                   0          0
5                                   0          0
6                                   0          0
7                                   0          0
8                                   0          0
9                                   0          0
10                                  0          0
11                                  0          0
12                                  0          0
13                                  0          0
14                                  0          0
15                                  0          0
16                                  0          0
17                                  0          0
18                                  0          0
19                                  0          0
20                                  0          0
21                                  0          0
22                                  0          0
23                                  0          0
24                                  0          0
25                                  0          0
26                                  0          0
27                                  0          0
28                                  0          0
29                                  0          0
...                   ...         ...        ...
74494                               0          0
74495                               0          0
74496                               0          0
74497                               0          0
74498                               0          0
74499                               0          0
74500                               0          0
74501                               0          0
74502                               0          0
74503                               0          0
74504                               0          0
74505                               0          0
74506                               0          0
74507                               0          0
74508                               0          0
74509                               0          0
74510                               0          0
74511                               0          0
74512                               0          0
74513                               0          0
74514                               0          0
74515                               0          0
74516                               0          0
74517                               0          0
74518                               0          0
74519                               0          0
74520                               0          0
74521                               0          0
74522                               0          0
74523                               0          0

[74524 rows x 9 columns]

In [29]:
#Separate dataframe by state to improve the performance.
#We will write a loop here to process for all states 

list_of_states = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
                 "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
                 "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"] 

business_temp_aggregate = pd.DataFrame(data=None, columns=business_bus_st.columns,index=[0])

In [30]:

print (business_temp_aggregate)

  business state  zip zip_match_percent name_match_percent combined_percent  \
0      NaN   NaN  NaN               NaN                NaN              NaN

  master_businessname master_zip duplicat?
0                 NaN        NaN       NaN

In [ ]:
#for state in list_of_states: 


list_of_states = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
                 "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
                 "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY",""] 

for state in list_of_states:
    master_temp = master_bus_st[(master_bus_st.state==state)]
    business_temp = business_bus_st[(business_bus_st.state==state)] 
    computeSimilarity(business_temp, master_temp)
    markDuplicate(business_temp) 
    business_temp_aggregate = business_temp_aggregate.append(business_temp)

c:\program files (x86)\python36-32\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
c:\program files (x86)\python36-32\lib\site-packages\pandas\core\indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [ ]:
print (business_temp_aggregate)

In [28]:
#business_co[business_co['distance'] < 10].to_csv("compare.csv")

#We have a similarity percent of business name.
def exportcsv(business_temp):
    business_temp.to_csv("percent.csv")

In [24]:
computeSimilarity(business_co, master_co)

c:\users\yang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [28]:
markDuplicate(business_co)
exportcsv(business_co)

c:\users\yang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\yang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s